@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
body {
    font-weight: bold;
    background-color: #222;
    color: aliceblue;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.subInput {
    background-color: #333;
    color: aliceblue;
}
.pageHeader {
    text-align: center;
}
