@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
html {
    scroll-behavior: smooth;
    /* Deep Space */
    background-image: linear-gradient(#000000, #434343);
    background-attachment: fixed;
    font-size: 62.5%;
}
body {
    color: aliceblue;
    font-weight: normal;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-size: 1.6rem;
}
.pageTitle {
    text-align: center;
    color: transparent;
    background-clip: text;
    /* Blue Skies */
    background-image: linear-gradient(#56CCF2, #2F80ED);
}
a {
    color: aliceblue;
    font-weight: bold;
    font-style: italic;
    transition: all .5s ease;
}
a:visited {
    color: plum;
}
a:hover {
    color:red;
    transition: color .5s ease;
}
.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #333;
    gap: 1.5rem;
    border-radius: 1.5rem;
    padding: 2rem;
    padding-top: 1rem;
    margin-bottom: 2rem;
}
.section img {
    border-radius: 1.5rem;
}
.sectionHeader {
    color: transparent;
    background-clip: text;
    /* Cool Sky */
    background-image: linear-gradient(#2980B9, #6DD5FA, #FFFFFF);
}
ul, ol {
    text-align: left;
}
#nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 1.5rem;
    background-color: #333;
    border-radius: 1.5rem;
    padding: 0.5rem;
    margin-bottom: 2rem;
}
#nav a {
    display: inline-block;
    text-decoration: none;
    padding: .5rem 1rem;
    transition: all .5s ease;
}
#nav a:visited {
    color: aliceblue;
}
#nav a:hover {
    background-color: #222;
    border-radius: 1.5rem;
}
.textArea {
    color: green;
}
label {
    display: block;
    margin-bottom: .25vh;

}
button {
    margin-top: 1vh;
}
.subInput {
    background-color: #333;
    color: aliceblue;
}